* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(40, 40, 40);
    
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color:rgb(62, 211, 176);
    margin-top: 20px;
    margin-bottom: 20px;
}

.tutorial {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgb(62, 211, 176);
    margin-top: 20px;
}

.credit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color:rgb(62, 211, 176);
    margin-top: 20px;
}